body {
	text-align: center;
	background-color: #DAF3FF;
}

h1 {
	font-size: 4em;
	color: #FF5050;
	font-weight: 300;
	padding-top: 1.3em;
	padding-bottom: 1em;
}

h2 {
	font-weight: 300;
	font-size: 2.75em;

}

#aboutMe {
	font-size: 2em;
	padding-top: 1em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

#portfolio {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #FF5050;
}

section ul {
	padding: 1em 2em 1em 2em;
}

section h3 {
	padding-bottom: 1em;
}

#portfolio li {
	list-style-type: circle;
}



































